img {
	object-fit: cover;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0%;
	left: 0%;
	z-index: -1;
}

.until {
	margin: 25px;
	max-width: 500px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 1em;
	padding: 1em;
	background: #ad04ad;
	border-radius: 5px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
	font-family: sans-serif;
	margin-top: 20em;
	margin-left: auto;
	margin-right: auto;
}

.until_component {
	text-align: center;
	background: #252424;
	border-radius: 5px;
}

.until__numeric {
	color: #b8b5b5;
	padding: 0.5em 0;
	font-size: 3em;
	font-weight: bold;
}

.until__unit {
	font-size: 1.2em;
	padding-bottom: 1em;
	font-weight: bold;
	color: #3230cf;
}

.until__event {
	grid-column: span 4;
	text-align: center;
	color: #ffffff;
	font-weight: bold;
}